<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <form id="loginForm" method="POST" action="/login">
        <h1>Connexion </h1>
    
    <label for="email">Email :</label><br>
    <input type="email" name="email" id="email" placeholder=""><br>
    
    <label for="password">Mot de passe :</label><br>
    <input type="password" name="password" id="password" placeholder=""><br>
    
    <p id="message"></p><br>
    <button type="submit">Se connecter</button>
    </form>



    <p>Pas encore de compte ? <a href="/register">Inscrivez vous !</a></p>
    
    <script src="./static/javaScript/login.js"></script>

</body>
</html>